<!-- Tufts VUE 3.3.0 concept-map (UnitDepsAndOrder.vue) 2017-03-11 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/opt/VUE/VUE_3_3_0.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Sat Mar 11 17:48:31 CST 2017 by cognifloyd on platform Linux 4.9.6-gentoo-r1 in JVM 1.8.0_121-b13 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="UnitDepsAndOrder.vue" created="1488835524718" x="0.0" y="0.0"
    width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1489276111372" size="82219"
        spec="/home/cognifloyd/g/bitbucket/theatro-noc/gadget-pppd-units.git/UnitDepsAndOrder.vue"
        type="1" xsi:type="URLResource">
        <title>UnitDepsAndOrder.vue</title>
        <property key="File" value="/home/cognifloyd/g/bitbucket/theatro-noc/gadget-pppd-units.git/UnitDepsAndOrder.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d027f0000015302a5c9809d3e6b</URIString>
    <child ID="40" label="JoinsNamespace" layerID="74"
        created="1488836760372" x="1387.0" y="115.0" width="150.0"
        height="24.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d037f0000015302a5c9f0653ef6</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="41" label="No Namespace" layerID="74"
        created="1488836784464" x="1387.0" y="139.0" width="150.0"
        height="24.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#83CEFF</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d067f0000015302a5c95b3a2cb0</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="78" label="BindsTo=" layerID="74" created="1488838039787"
        x="1437.5" y="175.25" width="53.67871" height="50.25"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d077f0000015302a5c93774825c</URIString>
        <point1 x="1438.0" y="225.0"/>
        <point2 x="1442.7151" y="175.75"/>
        <ctrlPoint0 x="1494.0" y="201.0" xsi:type="point"/>
    </child>
    <child ID="79" label="Requires=" layerID="74"
        created="1488838064518" x="1434.3232" y="237.00201" width="54.0"
        height="66.497986" strokeWidth="3.0" autoSized="false"
        controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d087f0000015302a5c9c1b40d7f</URIString>
        <point1 x="1470.0" y="302.0"/>
        <point2 x="1450.9614" y="238.50201"/>
        <ctrlPoint0 x="1428.4999" y="284.17776" xsi:type="point"/>
        <ctrlPoint1 x="1494.7081" y="238.90314" xsi:type="point"/>
    </child>
    <child ID="80" label="Wants=" layerID="74" created="1488838083177"
        x="1442.0" y="311.0" width="36.0" height="46.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d0a7f0000015302a5c9163c915a</URIString>
        <point1 x="1460.0" y="311.5"/>
        <point2 x="1460.0" y="356.5"/>
    </child>
    <child ID="6" label="dev-ttyACM0.device" layerID="1"
        created="1488835562259" x="946.6554" y="18.0" width="155.0"
        height="24.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d0b7f0000015302a5c9a4d8a245</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="28" label="gadget.target" layerID="1"
        created="1488835722876" x="663.5" y="817.0" width="115.0"
        height="24.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d217f0000015302a5c92f5ab4c0</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="udev rule: SYSTEMD_WANTS" layerID="50"
        created="1488835589147" x="773.42694" y="41.5" width="231.44592"
        height="140.78806" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d227f0000015302a5c9f50c81a5</URIString>
        <point1 x="1004.37286" y="42.0"/>
        <point2 x="773.92694" y="181.78806"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="16" label="systemctl start pppd-is-up@${6}.path"
        layerID="50" created="1488835662004" x="326.91467" y="335.85297"
        width="321.23004" height="13.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <labelFormat>systemctl start pppd-is-up@${6}.path</labelFormat>
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d237f0000015302a5c9783c8d18</URIString>
        <point1 x="327.41467" y="336.42276"/>
        <point2 x="647.6447" y="348.28314"/>
        <ID1 xsi:type="node">13</ID1>
        <ID2 xsi:type="node">15</ID2>
    </child>
    <child ID="18" label="Wants=" layerID="50" created="1488835671148"
        x="613.7433" y="362.5" width="82.13507" height="39.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d257f0000015302a5c98c370053</URIString>
        <point1 x="695.37836" y="363.0"/>
        <point2 x="614.2433" y="401.0"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
    <child ID="20" label="Wants=" layerID="50" created="1488835680399"
        x="545.0" y="448.5" width="36.0" height="201.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d267f0000015302a5c90877a680</URIString>
        <point1 x="563.0" y="449.0"/>
        <point2 x="563.0" y="649.0"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
    <child ID="22" label="Wants=" layerID="50" created="1488835688195"
        x="730.9" y="362.5" width="125.79999" height="145.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d277f0000015302a5c9cf86b8bf</URIString>
        <point1 x="731.4" y="363.0"/>
        <point2 x="856.2" y="507.0"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">21</ID2>
    </child>
    <child ID="24" label="Wants=" layerID="50" created="1488835696621"
        x="859.0" y="554.5" width="36.0" height="95.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d287f0000015302a5c9bf7f0fdb</URIString>
        <point1 x="877.0" y="555.0"/>
        <point2 x="877.0" y="649.0"/>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
    <child ID="27" label="Wants=" layerID="50" created="1488835719045"
        x="742.0173" y="696.5" width="92.448364" height="52.0"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d347f0000015302a5c90a572c39</URIString>
        <point1 x="833.96564" y="697.0"/>
        <point2 x="742.5173" y="748.0"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">25</ID2>
    </child>
    <child ID="29" label="Wants=" layerID="50" created="1488835722877"
        x="703.0" y="771.5" width="36.0" height="46.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d367f0000015302a5c9e6c328a8</URIString>
        <point1 x="721.0" y="772.0"/>
        <point2 x="721.0" y="817.0"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">28</ID2>
    </child>
    <child ID="30" label="BindsTo=" layerID="50" created="1488836196489"
        x="782.0" y="41.5" width="235.93091" height="158.83255"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d377f0000015302a5c951688a93</URIString>
        <point1 x="782.5" y="199.83257"/>
        <point2 x="1017.4309" y="42.0"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="951.1667" y="160.25" xsi:type="point"/>
    </child>
    <child ID="31" label="BindsTo=" layerID="50" created="1488836249012"
        x="749.24243" y="230.12566" width="119.16156"
        height="109.374344" strokeWidth="1.0" strokeStyle="1"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d387f0000015302a5c92658e3b2</URIString>
        <point1 x="749.74243" y="339.0"/>
        <point2 x="782.5" y="230.62566"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="922.68677" y="266.79535" xsi:type="point"/>
    </child>
    <child ID="32" label="BindsTo=" layerID="50" created="1488836260045"
        x="642.20355" y="228.29794" width="280.59735" height="177.81058"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d397f0000015302a5c9f5421453</URIString>
        <point1 x="642.70355" y="405.60852"/>
        <point2 x="782.5" y="228.79794"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="1085.0" y="298.0" xsi:type="point"/>
    </child>
    <child ID="33" label="BindsTo=" layerID="50" created="1488836270758"
        x="595.625" y="226.48325" width="319.53125" height="423.01672"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d407f0000015302a5c9d6f121e3</URIString>
        <point1 x="596.125" y="649.0"/>
        <point2 x="782.5" y="226.98325"/>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="1093.0" y="289.0" xsi:type="point"/>
    </child>
    <child ID="34" label="BindsTo=" layerID="50" created="1488836302471"
        x="782.0" y="222.06671" width="254.47229" height="285.4333"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d417f0000015302a5c9850e32a5</URIString>
        <point1 x="905.38904" y="507.0"/>
        <point2 x="782.5" y="222.56671"/>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="1181.0" y="274.0" xsi:type="point"/>
    </child>
    <child ID="35" label="BindsTo=" layerID="50" created="1488836309520"
        x="782.0" y="222.45285" width="329.10376" height="427.04715"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d427f0000015302a5c9b137e4f8</URIString>
        <point1 x="905.915" y="649.0"/>
        <point2 x="782.5" y="222.95285"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="1330.0" y="297.0" xsi:type="point"/>
    </child>
    <child ID="36" label="BindsTo=" layerID="50" created="1488836381135"
        x="752.6688" y="224.2323" width="523.7484" height="524.2677"
        strokeWidth="1.0" strokeStyle="1" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d427f0000015302a5c9769fd913</URIString>
        <point1 x="753.1688" y="748.0"/>
        <point2 x="782.5" y="224.7323"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">7</ID2>
        <ctrlPoint0 x="1737.0" y="381.0" xsi:type="point"/>
    </child>
    <child ID="39" label="Requires=" layerID="50"
        created="1488836537974" x="693.5769" y="246.0" width="54.0"
        height="94.5" strokeWidth="3.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d437f0000015302a5c99077814f</URIString>
        <point1 x="720.9121" y="339.0"/>
        <point2 x="720.24176" y="247.5"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="42" label="Requires=" layerID="50"
        created="1488837016020" x="691.1222" y="669.25867"
        width="61.877808" height="80.24133" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d437f0000015302a5c9c85a6e97</URIString>
        <point1 x="723.3736" y="748.0"/>
        <point2 x="751.5" y="670.75867"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">23</ID2>
        <ctrlPoint0 x="732.8678" y="699.99994" xsi:type="point"/>
        <ctrlPoint1 x="690.50006" y="669.6693" xsi:type="point"/>
    </child>
    <child ID="43" label="Requires=" layerID="50"
        created="1488837058597" x="649.29004" y="685.6484" width="54.0"
        height="63.851624" strokeWidth="3.0" autoSized="false"
        controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d447f0000015302a5c9439cd101</URIString>
        <point1 x="679.366" y="748.0"/>
        <point2 x="672.47" y="687.1484"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">19</ID2>
        <ctrlPoint0 x="630.7927" y="733.99994" xsi:type="point"/>
        <ctrlPoint1 x="722.0353" y="693.5544" xsi:type="point"/>
    </child>
    <child ID="44" label="Requires=" layerID="50"
        created="1488837091884" x="804.9708" y="553.5" width="67.03827"
        height="97.0" strokeWidth="3.0" autoSized="false"
        controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d457f0000015302a5c9cbdb3ab1</URIString>
        <point1 x="870.5091" y="649.0"/>
        <point2 x="844.95184" y="555.0"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">21</ID2>
        <ctrlPoint0 x="851.03613" y="576.9993" xsi:type="point"/>
        <ctrlPoint1 x="795.7325" y="591.8593" xsi:type="point"/>
    </child>
    <child ID="45" label="Requires=" layerID="50"
        created="1488837144137" x="612.9222" y="447.5" width="193.01385"
        height="203.0" strokeWidth="3.0" autoSized="false"
        controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d467f0000015302a5c9bf3b3be0</URIString>
        <point1 x="804.43604" y="649.0"/>
        <point2 x="614.4222" y="449.0"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">17</ID2>
        <ctrlPoint0 x="713.72394" y="618.9976" xsi:type="point"/>
        <ctrlPoint1 x="842.759" y="555.5703" xsi:type="point"/>
    </child>
    <child ID="46" label="Requires=" layerID="50"
        created="1488837161049" x="573.6631" y="447.5" width="97.181274"
        height="203.0" strokeWidth="3.0" autoSized="false"
        controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d477f0000015302a5c90ef03a12</URIString>
        <point1 x="575.1631" y="649.0"/>
        <point2 x="588.64545" y="449.0"/>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">17</ID2>
        <ctrlPoint0 x="646.6709" y="507.90216" xsi:type="point"/>
        <ctrlPoint1 x="682.31134" y="536.65625" xsi:type="point"/>
    </child>
    <child ID="47" label="Requires=" layerID="50"
        created="1488837187622" x="620.6513" y="513.756"
        width="160.3487" height="136.74402" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d487f0000015302a5c978661782</URIString>
        <point1 x="622.1513" y="649.0"/>
        <point2 x="779.5" y="517.8812"/>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">21</ID2>
        <ctrlPoint0 x="720.737" y="608.99994" xsi:type="point"/>
        <ctrlPoint1 x="614.51385" y="495.6821" xsi:type="point"/>
    </child>
    <child ID="48" label="Requires=" layerID="50"
        created="1488837319436" x="792.9837" y="346.88342"
        width="151.12518" height="161.61658" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d497f0000015302a5c905f53638</URIString>
        <point1 x="878.90436" y="507.0"/>
        <point2 x="794.4837" y="348.91946"/>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="889.8828" y="368.64603" xsi:type="point"/>
        <ctrlPoint1 x="997.9448" y="343.15897" xsi:type="point"/>
    </child>
    <child ID="49" label="Requires=" layerID="50"
        created="1488837359043" x="532.8009" y="353.71902"
        width="116.647095" height="48.780975" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d497f0000015302a5c91f374213</URIString>
        <point1 x="538.6855" y="401.0"/>
        <point2 x="647.948" y="355.21902"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="515.6334" y="378.24612" xsi:type="point"/>
        <ctrlPoint1 x="587.9459" y="358.68442" xsi:type="point"/>
    </child>
    <child ID="10" label="ExecStart=" layerID="50"
        created="1488835640263" x="283.0" y="218.84445" width="375.0"
        height="29.98909" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d4a7f0000015302a5c981ef13e4</URIString>
        <point1 x="657.5" y="219.34444"/>
        <point2 x="283.5" y="248.33353"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="119" label="After=" layerID="118" created="1488840528563"
        x="782.0" y="41.5" width="236.88434" height="167.74036"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d4b7f0000015302a5c91d4c9ba3</URIString>
        <point1 x="782.5" y="208.74036"/>
        <point2 x="1018.38434" y="42.0"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="945.41516" y="193.72697" xsi:type="point"/>
    </child>
    <child ID="120" label="After=" layerID="118" created="1488840566096"
        x="702.5769" y="247.0" width="36.0" height="92.5"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d4c7f0000015302a5c9e132feeb</URIString>
        <point1 x="720.9121" y="339.0"/>
        <point2 x="720.24176" y="247.5"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="121" label="Before=" layerID="118"
        created="1488840598813" x="643.9255" y="362.49988"
        width="72.294556" height="48.63095" strokeWidth="1.0"
        strokeStyle="4" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d4d7f0000015302a5c9ec49d989</URIString>
        <point1 x="715.72003" y="362.99988"/>
        <point2 x="644.4255" y="410.63083"/>
        <ID1 xsi:type="node">15</ID1>
        <ID2 xsi:type="node">17</ID2>
        <ctrlPoint0 x="699.0" y="401.0" xsi:type="point"/>
    </child>
    <child ID="122" label="After=" layerID="118" created="1488840636742"
        x="563.4474" y="349.5516" width="84.55261" height="51.94742"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d4e7f0000015302a5c904e1fbd8</URIString>
        <point1 x="563.9474" y="400.99902"/>
        <point2 x="647.5" y="350.0516"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="566.0" y="349.0" xsi:type="point"/>
    </child>
    <child ID="124" label="Before=" layerID="118"
        created="1488840665383" x="633.5943" y="448.5" width="172.81128"
        height="59.0" strokeWidth="1.0" strokeStyle="4"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d4f7f0000015302a5c9065162c1</URIString>
        <point1 x="634.0943" y="449.0"/>
        <point2 x="805.9056" y="507.0"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">21</ID2>
    </child>
    <child ID="125" label="After=" layerID="118" created="1488840714654"
        x="723.1087" y="362.5" width="128.24207" height="145.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d507f0000015302a5c97b0e286f</URIString>
        <point1 x="850.85077" y="507.0"/>
        <point2 x="723.6087" y="363.0"/>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">15</ID2>
        <ctrlPoint0 x="731.0" y="397.0" xsi:type="point"/>
    </child>
    <child ID="127" label="After=" layerID="118" created="1488840727086"
        x="735.8697" y="247.0" width="129.7251" height="260.5"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d507f0000015302a5c94d238159</URIString>
        <point1 x="865.0948" y="507.0"/>
        <point2 x="736.3697" y="247.5"/>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">7</ID2>
    </child>
    <child ID="129" label="After=" layerID="118" created="1488840845807"
        x="529.2567" y="448.5" width="36.0" height="201.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d517f0000015302a5c96716b8b1</URIString>
        <point1 x="559.78284" y="649.0"/>
        <point2 x="553.2439" y="449.0"/>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">17</ID2>
        <ctrlPoint0 x="538.0" y="486.5" xsi:type="point"/>
    </child>
    <child ID="130" label="After=" layerID="118" created="1488840856006"
        x="663.2065" y="554.5" width="184.54358" height="95.24359"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d527f0000015302a5c96704e353</URIString>
        <point1 x="663.7065" y="649.2436"/>
        <point2 x="847.25006" y="555.0"/>
        <ID1 xsi:type="node">19</ID1>
        <ID2 xsi:type="node">21</ID2>
        <ctrlPoint0 x="758.0" y="627.0" xsi:type="point"/>
    </child>
    <child ID="132" label="After=" layerID="118" created="1488840891623"
        x="892.75806" y="554.5" width="45.520752" height="95.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d527f0000015302a5c934e6d609</URIString>
        <point1 x="893.25806" y="649.0"/>
        <point2 x="907.8572" y="555.0"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">21</ID2>
        <ctrlPoint0 x="940.0" y="580.0" xsi:type="point"/>
    </child>
    <child ID="133" label="After=" layerID="118" created="1488840904403"
        x="592.8871" y="448.5" width="254.22577" height="201.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d537f0000015302a5c9546be5e0</URIString>
        <point1 x="846.61285" y="649.0"/>
        <point2 x="593.3871" y="449.0"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
    <child ID="128" label="After=" layerID="118" created="1488840757039"
        x="611.2912" y="448.5" width="168.7088" height="71.66278"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d557f0000015302a5c9eba51c0b</URIString>
        <point1 x="779.5" y="519.6628"/>
        <point2 x="611.7912" y="449.0"/>
        <ID1 xsi:type="node">21</ID1>
        <ID2 xsi:type="node">17</ID2>
        <ctrlPoint0 x="748.0" y="516.0" xsi:type="point"/>
    </child>
    <child ID="135" label="Before=" layerID="118"
        created="1488840931475" x="701.7321" y="674.7545"
        width="50.267883" height="73.74548" strokeWidth="1.0"
        strokeStyle="4" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d557f0000015302a5c9f8448993</URIString>
        <point1 x="751.5" y="675.2545"/>
        <point2 x="719.4285" y="748.0"/>
        <ID1 xsi:type="node">23</ID1>
        <ID2 xsi:type="node">25</ID2>
        <ctrlPoint0 x="710.0" y="676.0" xsi:type="point"/>
    </child>
    <child ID="138" label="After=" layerID="118" created="1488841059534"
        x="606.0863" y="696.5" width="93.62067" height="52.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d567f0000015302a5c937e156d2</URIString>
        <point1 x="699.2069" y="748.0"/>
        <point2 x="606.58624" y="697.0"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">19</ID2>
    </child>
    <child ID="137" label="After=" layerID="118" created="1488841050377"
        x="743.3293" y="696.5" width="93.474915" height="52.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d577f0000015302a5c962bbdf2a</URIString>
        <point1 x="743.8293" y="748.0"/>
        <point2 x="836.3042" y="697.0"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">23</ID2>
        <ctrlPoint0 x="799.0" y="719.0" xsi:type="point"/>
    </child>
    <child ID="139" label="Before=" layerID="118"
        created="1488841070548" x="699.3258" y="771.5" width="42.0"
        height="46.0" strokeWidth="1.0" strokeStyle="4"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d587f0000015302a5c9f9117b13</URIString>
        <point1 x="720.63635" y="772.0"/>
        <point2 x="720.6667" y="817.0"/>
        <ID1 xsi:type="node">25</ID1>
        <ID2 xsi:type="node">28</ID2>
        <ctrlPoint0 x="720.0" y="793.0" xsi:type="point"/>
    </child>
    <child ID="7" label="pppd@0.service" layerID="115"
        created="1488835589146" x="657.5" y="181.5" width="125.0"
        height="66.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d587f0000015302a5c9af26aed4</URIString>
        <child ID="108" label="Type=idle" created="1488839043990"
            x="5.0" y="24.0" width="115.0" height="36.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d597f0000015302a5c92f58ce42</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=idle&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=idle</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="15" label="pppd-is-up@0.path" layerID="115"
        created="1488835662002" x="647.5" y="339.0" width="147.0"
        height="24.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5a7f0000015302a5c9d455700b</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="25" label="gadget-is-up-with-pppd@0.service"
        layerID="115" created="1488835707703" x="587.5" y="748.0"
        width="267.0" height="24.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5a7f0000015302a5c92355781e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="17" label="pppd-veth@0.service" layerID="115"
        created="1488835671147" x="481.5" y="401.0" width="163.0"
        height="48.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d117f0000015302a5c9a93bd7e5</URIString>
        <child ID="114" label="Type=oneshot" created="1488839905522"
            x="5.0" y="24.0" width="100.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d117f0000015302a5c9d97dcf77</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="19" label="pppd-veth-routes@0.service" layerID="115"
        created="1488835680398" x="453.5" y="649.0" width="219.0"
        height="48.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d137f0000015302a5c987d0afb3</URIString>
        <child ID="117" label="Type=oneshot" created="1488840315396"
            x="5.0" y="24.0" width="100.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d1b7f0000015302a5c992f4d759</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="21" label="pppd-vethpeer@0.service" layerID="115"
        created="1488835688193" x="779.5" y="507.0" width="195.0"
        height="48.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d1d7f0000015302a5c9c5c3aaff</URIString>
        <child ID="112" label="Type=oneshot" created="1488839879162"
            x="5.0" y="24.0" width="100.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d1e7f0000015302a5c935299ab2</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="23" label="pppd-vethpeer-routes@0.service" layerID="115"
        created="1488835696619" x="751.5" y="649.0" width="251.0"
        height="48.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d1f7f0000015302a5c92d117b9c</URIString>
        <child ID="113" label="Type=oneshot" created="1488839905162"
            x="5.0" y="24.0" width="100.0" height="18.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d207f0000015302a5c95336ca61</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="11" label="ip-up" layerID="115" created="1488835648452"
        x="236.5" y="281.0" width="51.0" height="24.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d0d7f0000015302a5c9f078bd36</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="12" layerID="115" created="1488835648454" x="261.5"
        y="261.5" width="1.0" height="20.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d0e7f0000015302a5c9b9a7ad2f</URIString>
        <point1 x="262.0" y="262.0"/>
        <point2 x="262.0" y="281.0"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <child ID="13" label="90-ppp-is-up.sh" layerID="115"
        created="1488835653142" x="196.5" y="322.0" width="131.0"
        height="24.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d0f7f0000015302a5c9f131a046</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="14" layerID="115" created="1488835653143" x="261.5"
        y="304.5" width="1.0" height="18.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d107f0000015302a5c92bf3fd37</URIString>
        <point1 x="262.0" y="305.0"/>
        <point2 x="262.0" y="322.0"/>
        <ID1 xsi:type="node">11</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
    <child ID="9" label="pppd" layerID="115" created="1488835640262"
        x="240.5" y="238.0" width="43.0" height="24.0" strokeWidth="1.0"
        autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d0c7f0000015302a5c90f4c1f73</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="81" label="udev rule: SYSTEMD_WANTS" layerID="69"
        created="1488838174646" x="952.74365" y="41.5" width="144.0"
        height="82.05469" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5b7f0000015302a5c9e8b96626</URIString>
        <point1 x="1024.2898" y="42.0"/>
        <point2 x="1025.1976" y="123.05469"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">73</ID2>
    </child>
    <child ID="82" label="BindsTo=" layerID="69" created="1488838189359"
        x="1078.6392" y="41.500015" width="123.28467" height="92.270065"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5c7f0000015302a5c95c642bf4</URIString>
        <point1 x="1098.556" y="133.27008"/>
        <point2 x="1079.1392" y="42.000015"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="1267.0" y="83.0" xsi:type="point"/>
    </child>
    <child ID="88" label="BindsTo=" layerID="69" created="1488838346397"
        x="810.00793" y="186.55603" width="156.45972" height="37.707138"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5d7f0000015302a5c98db62c78</URIString>
        <point1 x="810.50793" y="222.73035"/>
        <point2 x="965.96765" y="187.05603"/>
        <ID1 xsi:type="node">105</ID1>
        <ID2 xsi:type="node">73</ID2>
        <ctrlPoint0 x="886.0" y="230.0" xsi:type="point"/>
    </child>
    <child ID="90" label="BindsTo=" layerID="69" created="1488838352244"
        x="654.9436" y="186.55603" width="353.1714" height="226.73956"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5e7f0000015302a5c9f3bb884c</URIString>
        <point1 x="655.4436" y="412.7956"/>
        <point2 x="1007.615" y="187.05603"/>
        <ID1 xsi:type="node">160</ID1>
        <ID2 xsi:type="node">73</ID2>
        <ctrlPoint0 x="900.0" y="379.0" xsi:type="point"/>
    </child>
    <child ID="91" label="BindsTo=" layerID="69" created="1488838354529"
        x="970.66046" y="186.55603" width="232.78851" height="320.60767"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5f7f0000015302a5c9a5b0109e</URIString>
        <point1 x="971.16046" y="506.6637"/>
        <point2 x="1066.6356" y="187.05603"/>
        <ID1 xsi:type="node">164</ID1>
        <ID2 xsi:type="node">73</ID2>
        <ctrlPoint0 x="1340.0" y="400.0" xsi:type="point"/>
    </child>
    <child ID="92" label="BindsTo=" layerID="69" created="1488838357880"
        x="593.3611" y="186.55603" width="414.83362" height="462.60767"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d5f7f0000015302a5c994de2933</URIString>
        <point1 x="593.8611" y="648.6637"/>
        <point2 x="1007.6947" y="187.05603"/>
        <ID1 xsi:type="node">162</ID1>
        <ID2 xsi:type="node">73</ID2>
        <ctrlPoint0 x="900.0" y="380.0" xsi:type="point"/>
    </child>
    <child ID="93" label="BindsTo=" layerID="69" created="1488838360841"
        x="969.75616" y="186.55603" width="299.49115" height="462.60767"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d607f0000015302a5c9304a8924</URIString>
        <point1 x="970.25616" y="648.6637"/>
        <point2 x="1066.7334" y="187.05603"/>
        <ID1 xsi:type="node">166</ID1>
        <ID2 xsi:type="node">73</ID2>
        <ctrlPoint0 x="1472.0" y="502.0" xsi:type="point"/>
    </child>
    <child ID="94" label="Requires=" layerID="69"
        created="1488838468792" x="720.0721" y="140.07516"
        width="233.98395" height="51.036163" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d617f0000015302a5c9ee5fbaa7</URIString>
        <point1 x="952.556" y="148.02237"/>
        <point2 x="721.5721" y="189.61133"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">105</ID2>
        <ctrlPoint0 x="719.96216" y="125.61157" xsi:type="point"/>
        <ctrlPoint1 x="722.1437" y="164.787" xsi:type="point"/>
    </child>
    <child ID="96" label="Requires=" layerID="69"
        created="1488838478371" x="563.9097" y="185.55603"
        width="425.11273" height="216.60803" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d627f0000015302a5c9770142be</URIString>
        <point1 x="987.52246" y="187.05603"/>
        <point2 x="565.4097" y="400.66406"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">160</ID2>
        <ctrlPoint0 x="688.74133" y="438.43893" xsi:type="point"/>
        <ctrlPoint1 x="561.1966" y="207.33072" xsi:type="point"/>
    </child>
    <child ID="97" label="Requires=" layerID="69"
        created="1488838481114" x="889.5705" y="185.55615"
        width="174.53937" height="322.60742" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d637f0000015302a5c9e46d3cca</URIString>
        <point1 x="1036.9587" y="187.05615"/>
        <point2 x="891.0705" y="506.66357"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">164</ID2>
        <ctrlPoint0 x="1132.6675" y="455.6506" xsi:type="point"/>
        <ctrlPoint1 x="932.77856" y="285.96872" xsi:type="point"/>
    </child>
    <child ID="98" label="Requires=" layerID="69"
        created="1488838484735" x="883.58374" y="185.55615"
        width="201.06921" height="464.6079" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d647f0000015302a5c96e70e4b9</URIString>
        <point1 x="1037.001" y="187.05615"/>
        <point2 x="885.08374" y="648.66406"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">166</ID2>
        <ctrlPoint0 x="1200.0703" y="643.0" xsi:type="point"/>
        <ctrlPoint1 x="880.3023" y="562.31244" xsi:type="point"/>
    </child>
    <child ID="99" label="Requires=" layerID="69"
        created="1488838487586" x="334.55408" y="134.7954"
        width="619.50195" height="515.3683" strokeWidth="3.0"
        autoSized="false" controlCount="2" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d657f0000015302a5c993f0a670</URIString>
        <point1 x="952.556" y="148.34422"/>
        <point2 x="548.78754" y="648.6637"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">162</ID2>
        <ctrlPoint0 x="99.538055" y="69.915596" xsi:type="point"/>
        <ctrlPoint1 x="364.15823" y="384.99997" xsi:type="point"/>
    </child>
    <child ID="106" label="ExecStart=" layerID="69"
        created="1488838976225" x="302.5" y="222.05463"
        width="329.50793" height="31.989212" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d677f0000015302a5c9c1b06bce</URIString>
        <point1 x="631.50793" y="222.55461"/>
        <point2 x="303.0" y="253.54382"/>
        <ID1 xsi:type="node">105</ID1>
        <ID2 xsi:type="node">170</ID2>
    </child>
    <child ID="111" label="Wants=" layerID="69" created="1488839520143"
        x="772.6526" y="186.55597" width="607.6677" height="632.2424"
        strokeWidth="1.0" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d677f0000015302a5c9c437728f</URIString>
        <point1 x="1080.1283" y="187.05597"/>
        <point2 x="773.1526" y="818.29834"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">28</ID2>
        <ctrlPoint0 x="1798.0" y="608.0" xsi:type="point"/>
    </child>
    <child ID="144" label="After=" layerID="140" created="1488842117266"
        x="535.8313" y="238.11179" width="122.46771" height="163.05191"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d687f0000015302a5c94159d7af</URIString>
        <point1 x="553.52625" y="400.6637"/>
        <point2 x="657.799" y="238.61179"/>
        <ID1 xsi:type="node">160</ID1>
        <ID2 xsi:type="node">105</ID2>
        <ctrlPoint0 x="502.0" y="299.0" xsi:type="point"/>
    </child>
    <child ID="145" label="Before=" layerID="140"
        created="1488842117266" x="639.52075" y="449.1637"
        width="173.34259" height="57.99997" strokeWidth="1.0"
        strokeStyle="4" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6a7f0000015302a5c9d7aef700</URIString>
        <point1 x="640.0207" y="449.66373"/>
        <point2 x="812.3633" y="506.6637"/>
        <ID1 xsi:type="node">160</ID1>
        <ID2 xsi:type="node">164</ID2>
    </child>
    <child ID="148" label="After=" layerID="140" created="1488842117266"
        x="530.26447" y="449.1637" width="36.0" height="199.99988"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6a7f0000015302a5c9b0e50f31</URIString>
        <point1 x="562.27594" y="648.6636"/>
        <point2 x="554.7819" y="449.6637"/>
        <ID1 xsi:type="node">162</ID1>
        <ID2 xsi:type="node">160</ID2>
        <ctrlPoint0 x="538.0" y="486.5" xsi:type="point"/>
    </child>
    <child ID="149" label="After=" layerID="140" created="1488842117266"
        x="667.37177" y="555.1637" width="186.73346" height="94.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6b7f0000015302a5c91e9ecd9b</URIString>
        <point1 x="667.87177" y="648.6637"/>
        <point2 x="853.6052" y="555.6637"/>
        <ID1 xsi:type="node">162</ID1>
        <ID2 xsi:type="node">164</ID2>
        <ctrlPoint0 x="758.0" y="627.0" xsi:type="point"/>
    </child>
    <child ID="150" label="After=" layerID="140" created="1488842117266"
        x="842.6787" y="555.1637" width="36.0" height="94.0"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6c7f0000015302a5c9d4b66668</URIString>
        <point1 x="870.8897" y="648.6637"/>
        <point2 x="875.0719" y="555.6637"/>
        <ID1 xsi:type="node">166</ID1>
        <ID2 xsi:type="node">164</ID2>
        <ctrlPoint0 x="848.3766" y="613.1943" xsi:type="point"/>
    </child>
    <child ID="152" label="After=" layerID="140" created="1488842117266"
        x="614.5471" y="449.16373" width="166.89325" height="70.944305"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6d7f0000015302a5c927011a79</URIString>
        <point1 x="780.94037" y="519.60803"/>
        <point2 x="615.0471" y="449.66373"/>
        <ID1 xsi:type="node">164</ID1>
        <ID2 xsi:type="node">160</ID2>
        <ctrlPoint0 x="748.0" y="516.0" xsi:type="point"/>
    </child>
    <child ID="156" label="Before=" layerID="140"
        created="1488842117266" x="771.17896" y="186.55603"
        width="569.37866" height="631.58575" strokeWidth="1.0"
        strokeStyle="4" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6d7f0000015302a5c94a29e355</URIString>
        <point1 x="1074.5515" y="187.05603"/>
        <point2 x="771.67896" y="817.6418"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">28</ID2>
        <ctrlPoint0 x="1716.0" y="606.0" xsi:type="point"/>
    </child>
    <child ID="158" label="After=" layerID="140" created="1488844187919"
        x="880.91327" y="41.5" width="104.31116" height="89.82788"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a61ecd847f0000016db266f5c43af988</URIString>
        <point1 x="953.00586" y="130.82788"/>
        <point2 x="984.7244" y="42.0"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">6</ID2>
        <ctrlPoint0 x="828.9614" y="89.40318" xsi:type="point"/>
    </child>
    <child ID="168" label="After=" layerID="140" created="1488915255100"
        x="943.9761" y="186.55603" width="205.54114" height="462.60767"
        strokeWidth="1.0" strokeStyle="4" autoSized="false"
        controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/abd1d9d37f0000016db266f53ffd42f4</URIString>
        <point1 x="1047.1936" y="187.05603"/>
        <point2 x="944.4761" y="648.6637"/>
        <ID1 xsi:type="node">73</ID1>
        <ID2 xsi:type="node">166</ID2>
        <ctrlPoint0 x="1267.1996" y="512.42487" xsi:type="point"/>
    </child>
    <child ID="73" label="gadget@0.service" layerID="116"
        created="1488837999042" x="952.556" y="123.05603" width="146.0"
        height="64.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6e7f0000015302a5c97c64af4c</URIString>
        <child ID="159" label="Type=notify NotifyAccess=All"
            created="1488845664470" x="5.0" y="24.0" width="136.0"
            height="34.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a61ecd857f0000016db266f5b5b4abcf</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=simple &lt;/font&gt;
    &lt;/p&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;ExecStart=/bin/true&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=notify NotifyAccess=All</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="102" label="sd_notify()" layerID="116"
        created="1488838746993" x="212.5" y="381.30444" width="99.0"
        height="24.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d6f7f0000015302a5c9a6643867</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="105" label="gadget-pppd@0.service" layerID="116"
        created="1488838976225" x="631.50793" y="189.61179"
        width="179.0" height="49.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d707f0000015302a5c97520e6a4</URIString>
        <child ID="110" label="Type=notify" created="1488839284539"
            x="5.0" y="24.0" width="80.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d707f0000015302a5c9cab048d6</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=notify&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=notify</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="160" label="gadget-veth@0.service" layerID="116"
        created="1488912194202" x="476.4436" y="400.66373" width="179.0"
        height="49.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e27f0000016db266f5ec2c6ce4</URIString>
        <child ID="161" label="Type=oneshot" created="1488912194202"
            x="5.0" y="24.0" width="100.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e27f0000016db266f5b1189143</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="162" label="gadget-veth-routes@0.service" layerID="116"
        created="1488912194202" x="448.4436" y="648.6637" width="235.0"
        height="49.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#82CDE4</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e37f0000016db266f548a33513</URIString>
        <child ID="163" label="Type=oneshot" created="1488912194202"
            x="5.0" y="24.0" width="100.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e37f0000016db266f5288c8e4f</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="164" label="gadget-vethpeer@0.service" layerID="116"
        created="1488912194202" x="780.94037" y="506.6637" width="211.0"
        height="49.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e47f0000016db266f5402fd41d</URIString>
        <child ID="165" label="Type=oneshot" created="1488912194202"
            x="5.0" y="24.0" width="100.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e47f0000016db266f51c8013ad</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="166" label="gadet-vethpeer-routes@0.service"
        layerID="116" created="1488912194202" x="756.94037" y="648.6637"
        width="259.0" height="49.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#9DDB53</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e47f0000016db266f570bd3704</URIString>
        <child ID="167" label="Type=oneshot" created="1488912194202"
            x="5.0" y="24.0" width="100.0" height="19.0"
            strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/aa1cd9e57f0000016db266f54d3db0e3</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      &lt;font style="font-size:10;"&gt;Type=oneshot&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Type=oneshot</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="103" layerID="116" created="1488838746994" x="261.5"
        y="261.5" width="1.0" height="120.30444" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Monoid-plain-9</font>
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d667f0000015302a5c994cfc1b9</URIString>
        <point1 x="262.0" y="262.0"/>
        <point2 x="262.0" y="381.30444"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">102</ID2>
    </child>
    <child ID="170" label="pppd" layerID="116" created="1489275716287"
        x="221.0" y="214.91147" width="82.0" height="85.0"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#F2AE45</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Monoid-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/bfc60a777f00000105cc3999ae04096d</URIString>
        <child ID="169" label="Patched: support systemd"
            created="1489275697461" x="5.0" y="24.0" width="72.0"
            height="55.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
            <strokeColor>#404040</strokeColor>
            <textColor>#000000</textColor>
            <font>-plain-10</font>
            <URIString>http://vue.tufts.edu/rdf/resource/bfc60a787f00000105cc3999c1337d3c</URIString>
            <richText>&lt;html&gt;
  &lt;head color="#000000" style="color: #000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; font-size: 12; font-family: Monoid; color: #000000 }
        ol { margin-top: 6; font-family: Monoid; vertical-align: middle; margin-left: 30; font-size: 12; list-style-position: outside }
        p { margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 0; color: #000000 }
        ul { margin-top: 6; font-size: 12; margin-left: 30; vertical-align: middle; list-style-position: outside; font-family: Monoid }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p color="#000000" style="color: #000000"&gt;
      Patched: support systemd
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
            <label>Patched: support systemd</label>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <layer ID="74" label="Key" created="1488838011898" x="0.0" y="0.0"
        width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d727f0000015302a5c9ad717371</URIString>
    </layer>
    <layer ID="1" label="Base Units" created="1488835524726" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d727f0000015302a5c9b442744c</URIString>
    </layer>
    <layer ID="50" label="Orig. Deps" created="1488837861611" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" hidden="true"
        strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d737f0000015302a5c91e72a8ad</URIString>
    </layer>
    <layer ID="118" label="Orig. Order" created="1488840376307" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" hidden="true"
        strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d737f0000015302a5c92adef665</URIString>
    </layer>
    <layer ID="115" label="Orig. Units" created="1488840170134" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" hidden="true"
        strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d737f0000015302a5c9cccdeb7c</URIString>
    </layer>
    <layer ID="69" label="Poss. Deps" created="1488837954390" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d747f0000015302a5c9c784a378</URIString>
    </layer>
    <layer ID="140" label="Pos. Order" created="1488842117266" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d747f0000015302a5c9dde8bdcc</URIString>
    </layer>
    <layer ID="116" label="Poss. Units" created="1488840255152" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d747f0000015302a5c9b7811be0</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="18.222847" y="-12.828277"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Untitled Pathway" created="1488835524717"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="0" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d757f0000015302a5c9938b481f</URIString>
            <masterSlide ID="2" created="1488835524750" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d767f0000015302a5c9fadc4c47</URIString>
                <titleStyle ID="3" label="Header"
                    created="1488835524980" x="329.0" y="174.5"
                    width="142.0" height="51.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d767f0000015302a5c9e7205b76</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1488835524982" x="340.0" y="282.5"
                    width="120.0" height="35.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d777f0000015302a5c9de1265a9</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1488835524985"
                    x="372.5" y="385.0" width="55.0" height="30.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/a5ef6d777f0000015302a5c96192297a</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2017-03-06</date>
    <modelVersion>6</modelVersion>
    <saveLocation>/home/cognifloyd/g/bitbucket/theatro-noc/gadget-pppd-units.git</saveLocation>
    <saveFile>/home/cognifloyd/g/bitbucket/theatro-noc/gadget-pppd-units.git/UnitDepsAndOrder.vue</saveFile>
</LW-MAP>
